
    .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 250px;
    background-color: lightgrey;
    padding: 49px
}

.flex-item {
    background-color: cornflowerblue;
    width: 350px;
    height: 150px;
    margin: 10px;
    margin-right: 20px;
    border-radius: 25px;
}
 .network-name{
       color: black;
    padding: 45px;
    line-height: 2;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;

}
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.section{
		text-align:center;
	}
      .navbar-default{background-color: transparent;border-color: transparent;}
    .navbar-default .navbar-brand {color: white;}
    .navbar-default .navbar-nav>li>a {color: white;}  
	.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus { color: lightgrey  !important;   background-color: transparent; }
   .nav>li>a:focus, .nav>li>a:hover{color:lightgrey !important ; background-color: transparent;}
  
  #tag { color:white;
      text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;     
    
    }
.navbar-collapse.in {
    overflow: hidden !important ;
}
	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}
.list{
         padding:8px;
    width: 247px; margin: 10px;color:#337ab7;border-color:#337ab7;border-radius:0px
        
    }

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
   
    span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;        
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 1;
 
}

   
 
   .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
 
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-primary.btn-outline:hover {
    color: #fff;
}    
.navbar>.container-fluid .navbar-brand{
    margin-left: -65px; !important
}