/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }
#page-wrap { width: 800px; margin: 0 auto; }

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
 table th { border: 1px solid black; padding: 5px; }
 table td{
 border-right:1px solid;
 }
.vendor td{
    padding: 5px 2px !important;
	font-family:sans-serif;
	}
#header { height: auto; width: 100%; margin: 8px 0; 
background: #000; text-align: left; color: white; 
font:  11px Helvetica, Sans-Serif; 
text-decoration: uppercase; letter-spacing: 1px; padding: 6px 0px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; 
    margin-top: 7%;}

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; font-weight: bold; float: left; }
#customer-title h1{
font-family:inherit;
text-transform:uppercase;
}
#customer-title h3{
text-transform: uppercase;
    line-height: 14px;
    letter-spacing: -1px;

}

.logo_e{
    float: left;
    margin: 13px;
	}

.blank_set{
padding:4px 4%;
}	
#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items {
 clear: both;
    width: 93%;
    margin: 3px auto;
    border: 1px solid black;
 }
 .subtotal_td{
 border-top:1px solid}
#items th { background: #fff; }
#items textarea { width: 80px;
 height: 50px; 
 }
 .price{
 font-family:sans-serif;
 }
#items tr.item-row td {  vertical-align: middle;
text-align:center;
padding-left:1%;
padding-right:1%;
 }
#items td.description { }
#items td.item-name {  }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; 
padding: 10px; 
font-family:sans-serif;
}
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms {   
  width: 55%;
float:left;  
}
.terms_div{
width: 93%;
margin: 7px auto;
}
.center{
text-align:center;
}
.service_tax{
width: 93%;
    font-family: sans-serif;
    margin: 0 auto;
    height: 22px;
    border: 1px solid;
}
.service1{
width:48%;
float:left;
    border-right: 1px solid;
	}

.service2{
width:48%;
float:right;}
.terms_1{
width:34%;
float:right;
}
#meta h5{
line-height:20px;
font-family:sans-serif;}
#terms h5 { text-transform: uppercase;
 font: 13px Helvetica, Sans-Serif; 
 padding: 0 0 8px 0; 
 margin: 0 0 8px 0; 
 }
#terms textarea { width: 100%; text-align: center;}
.ul_li li{
font-size:10px;}
textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }
.sections{
    float: left;
    margin: 0px 26px;
    width: 93%;
	}
.section_one{
float: left;
    width: 52%;
    padding: 16px;
    border: 1px solid #000;
    border-radius: 10px;
}
.section_two{
float:right;
width:37%;
padding:16px;
border:1px solid #000;
border-radius:10px;
}
.part1{
    float: left;
    width: 14%;
	}
.part2{
float: right;
    width: 87%;
    letter-spacing: 1px;
    line-height: 24px;
	}
	.table_td tr td{
	border:none;
	}
	.subject_head{
	    width: 90%;
    margin: 0 auto;
	font-size:17px;
	color:#666;
    padding: 4px;
	}
	.subject_head label{
	color:#000;
	}
.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }